.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:peru;
    color:aliceblue;
    justify-content: center;
    height: 120vh;
    padding: 10px;
    border-radius: 6px;
}
.titulo{
    font-size: 55px;
    font-family:fantasy;
    text-align: center;
    margin-bottom: 20px;
}
.subtitulo{
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    margin: 10px;
}
.input{
    width: 20%;
    padding: 10px;
    margin: 15px;
    border-radius: 8px;
    border-color: dimgray;
    border-width: 2px;
    border-style: solid;
}
.boton{
    width: 95%;
    padding: 10px;
    margin: 15px;
    background-color:dimgrey;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-size: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.botonera{
    margin-bottom: 20px;
}
.OP{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}.botonC{
    width: 30%;
    padding: 10px;
    margin: 15px;
    background-color:dimgrey;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-size: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
@media(width <=480px){
    .titulo{
        font-size: 4.85em;
        margin-top: -.5em;
        margin-bottom: -.5em;
        text-align: center;
    }
    .subtitulo{
        font-size: 1.5em;
        margin-bottom: -.5em;
    }
    .subtitulos{
        font-size: 1.3em;
        margin-bottom: 1.2em;
    }
    .input{
        width: 75%;
        margin: 1.2%;
        padding: -7em;
        text-align: center;
    }
    .boton{
        width: 55%;
        margin-top: -.32em;
        padding: 1em;
        margin-bottom: 1em;
    }
    @media(width <= 750px){
        .titulo{
            font-size: 3.5em;
            margin-top: .2em;
            margin-bottom: .5em;
            text-align: center;
        }
        .subtitulo{
            font-size: 1.5em;
            margin-bottom: .1em;
            text-align: center;
        }
        .subtitulos{
            font-size: 2em;
            margin-bottom: 2.5em;
        }
        .input{
            width: 80%;
            margin: 1.5%;
            padding: .35em;
            text-align: center;
            font-size: 1.2em;
        }
        .boton{
            width: 50%;
            padding: 1em;
            margin-bottom: 3%;
            font-size: 1.2em;
        }
        .botonera{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            gap: 10px;
        }
        .botonC{
            width: 2.2em;
            height: 2.5em;
            padding: 25px;
            margin: 0.2em;
        }
    }
}